# See http://help.github.com/ignore-files/ for more about ignoring files.

# Angular
.angular/
/dist
/tmp

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
README.md
readme*


# IDEs
.vscode/

# Certs
/cert

# Environment variables
.env